<!DOCTYPE html>
<html>

  <head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InsightFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

            <h1>Welcome to InsightFlow for Data Visualization</h1>
            <br>
            <h3>Explore data using InsightFlow created by <a class='lyzr' href="https://docs.lyzr.ai/homepage" target="_blank" rel="noopener noreferrer">Lyzr</a></h3>
     
            {% block content %}
            
            
            {% endblock %}
      
  </body>
</html>